.body{
    font-family: "avenir", sans-serif;
    width: 100vw;
    height: 100vh;
}

#view-1 {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: #fff;
}

#view-2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: #000;
}

.text-box {
    font-family: "avenir", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.button {
    display: none;
    background: #f00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    cursor: pointer;
    transition: transform .2s;
}

.change-button {
    background: #f00;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.indicator {
    font-family: "avenir", sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: 65px;
}
